.page {
  position: relative;
  width: 100vw;
  height: 100vh;
  float: left;
}

#appRp {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.absolute_wrap {
  width: 100%;
  position: absolute;
  top: 0;
  height: 100%;
  z-index: 1;
  overflow: hidden;
  padding-bottom: 9rem;
}
::ng-deep svg {
  width: 100%;
}

/* to have more than 2 lateral buttons on FV -- or ask LP to change FV */
/*::ng-deep svg #tcustom-unit_tagarea_button_drop-One {*/
/*  transform: translate(6px,0);*/
/*}*/
/*::ng-deep svg #tcustom-unit_tagarea_button_drop-Two {*/
/*  transform: translate(20px,0);*/
/*}*/
/*::ng-deep svg #tcustom-unit_tagarea_button_drop-Three {*/
/*  transform: translate(33px,0);*/
/*}*/
/*::ng-deep svg #tcustom-unit_tagarea_button_c-paint-custom-unit {*/
/*  transform: translate(46px,0);*/
/*}*/

/*::ng-deep svg #tcustom-unit_tagarea_button_c-paint-custom-ins {*/
/*  transform: translate(46px,0);*/
/*}*/
::ng-deep svg #tcustom-unit_tagarea_button_c-paint-custom-unit {
  transform: translate(6px,0);
}

::ng-deep svg #tcustom-unit_tagarea_button_c-paint-custom-ins {
  transform: translate(6px,0);
}

#left {
  width: 50%;
  left: 0;
  background-color: white;
}

#right {
  width: 50%;
  left: 50%;
}

.fixed_top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 8.5rem;
  box-sizing: border-box;
  text-align: center;
  z-index: 999;
  background-color: #efefef;
  padding: 8px;
}

.fixed_top input {
  display: inline-block;
  font-size: 0.75rem;
  margin-right: 0.5rem;
  width: 3rem;
}

.fixed_top span {
  display: inline-block;
  font-size: 0.75rem;
  margin-right: 0.5rem;
}

.scrollable_wrap {
  position: relative;
  height: 100%;
  box-sizing: border-box;
  overflow-y: auto;
  -ms-overflow-style: none;
  margin-top: 9rem;
}

.scrollable_wrap::-webkit-scrollbar {
  display: none;
}

app-stv {
  position: relative;
  display: block;
  width: 100%;
  height: 50%;
}

#sequence_viewer {
  padding-top: 30px;
  padding-bottom: 135px;
  position: relative;
  width: 100%;
  height: auto;
}

#fv {
  margin-top: 30px;
}
.forms {
  margin-top: 10px;
  display: inline-block;
  text-align: left;
  color: #00709b;
}

.forms label {
  display: inline-block;
  letter-spacing: 0.025rem;
  width: 4rem;
  font-size: 0.9rem;
}

mb-sqv-lib {
  position: relative;
  width: 100%;
  height: auto;
  display: block;
  margin-bottom: 30px;
}

.fa.fa-external-link-square {
  margin: 10px;
}
.fa.fa-external-link {
  margin-left: 10px;
}
.fa.fa-exchange {
  margin-right: 10px;
}

button {
  background-color: #cfe8ef;
  border: none;
  padding: 2px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 2px;
}

button:hover {
  background-color: #a5d5e3;
}

select {
  background-color: #cfe8ef;
  border: none;
  padding: 2px 5px;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 0px 2px 20px 2px;
  cursor: pointer;
  border-radius: 2px;
  color: #00709b;
}

.alert {
  margin-top: 10px;
  font-size: 0.8rem;
  color: #D62839;
}


.actions img {
  width: 10px;
}

#drop {
  width: 10px;
}

input {
  padding: 2px 5px;
}

.loader {
  position: absolute;
  top: 20%;
  left: 38%;
  width: 100px;
  height: 100px;
  border: 3px solid rgba(255,255,255,.3);
  border-radius: 50%;
  border-top-color: steelblue;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

.loaderMsg {
  position: absolute;
  top: 35%;
  left: 25%;
  color: steelblue;

}

@keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}


/** MEDIA SCREENS **/
@media screen and (max-width: 700px) {

  .stv_buttons{
    line-height: 8.5rem;
  }

  .absolute_wrap {
    position: relative;
    display: flex;
 }
  #left {
    width: 100%;
    height: auto;
    padding-bottom: 20px;
    padding-top:60px;
  }
  #right {
    width: 100%;
    left: 0;
  }

  .scrollable_wrap{
    margin-top: 50px;
  }
}
