<app-nav></app-nav>

  <div class="page">

    <div id="appRp">

        <div class="absolute_wrap" id="left">

          <div class="fixed_top">

              <div class="actions">
                <select [(ngModel)]="ft" (ngModelChange)="selectedFeature($event)">
                  <option *ngFor="let feature of features" [value]="feature._id">{{feature.moduleName}}</option>
                </select>
                <button title="add custom" (click)="addCustom()">
                  <img src="https://svgsilh.com/svg/1727487-00709b.svg">
                </button>
                <button title="Remove last" (click)="removeCustom(this.removeOpt.last)">
                  <img style="padding-bottom: 2px;" src="https://svgsilh.com/svg/97616-00709b.svg">
                </button>
                <button title="Remove selected" (click)="removeCustom(this.removeOpt.selected)">
                  <img src="https://svgsilh.com/svg/156119-00709b.svg">
                </button>
                <button title="Remove block" (click)="removeCustom('all')">
                  <i class="fa fa-undo" aria-hidden="true"></i>
                </button>
                <button (click)="eraseAll()">
                  <i title="Erase all" class="fa fa-ban" aria-hidden="true"></i>
                </button>
              </div>

              <div class="forms">
                <div>
                  <label>PDB:</label>
                  <input placeholder="Start" type="text" [attr.disabled]="this._pdb.disSt" [(ngModel)]="startUsrPdb">
                  <input placeholder="End" type="text" [attr.disabled]="this._pdb.disEnd" [(ngModel)]="endUsrPdb">
                  <i class="fa fa-exchange" aria-hidden="true"></i>
                  <label>UniProt:</label>
                  <span>[{{this._unp.st}}]  , [{{this._unp.end}}]</span>
                </div>

                <div>
                  <label>UniProt:</label>
                  <input placeholder="Start" type="text" [attr.disabled]="this._unp.disSt" [(ngModel)]="startUsrUnp">
                  <input placeholder="End" type="text" [attr.disabled]="this._unp.disEnd" [(ngModel)]="endUsrUnp">
                  <i class="fa fa-exchange" aria-hidden="true"></i>
                  <label>PDB:</label>
                  <span> [{{this._pdb.st}}] , [{{this._pdb.end}}]</span>
                </div>
              </div>
              <div class="alert"> {{error}}</div>

          </div>

          <div class="scrollable_wrap">
            <div class="loader"></div>
            <div class="loaderMsg">Retrieving data for Feature-Viewer ... </div>
            <div id="fv">
            </div>

          </div>

        </div>

        <div class="absolute_wrap" id="right">

          <div class="fixed_top stv_buttons">
            <button *ngIf="this.dt.json" title="View json" class="button" routerLink="/json" routerLinkActive="active">
              <img class="icon" src= "https://svgsilh.com/svg/1699614-00709b.svg" width="15px">
            </button>

            <button  *ngIf="this.dt.json">
              <a [href]="this.dt.json" title="Download json" download="{{this.unpId}}.json">
                <i class="fa fa-download" aria-hidden="true">
                </i>
              </a>
            </button>


            <button *ngIf="this.dt.multifasta" title="View multifasta" class="button" routerLink="/multifasta" routerLinkActive="active">
              <img class="icon" src= "https://svgsilh.com/svg/1699614-00709b.svg" width="15px">
            </button>

            <button  *ngIf="this.dt.multifastaStr">
              <a [href]="this.dt.multifastaStr" title="Download multifasta" download="multifasta.fa">
                <i class="fa fa-arrow-circle-down" aria-hidden="true">
                </i>
              </a>
            </button>
          </div>

          <div class="scrollable_wrap">

            <app-stv></app-stv>

            <div id="sequence_viewer">
              <mb-sqv-lib [inp]="this.input">
              </mb-sqv-lib>
              <select [(ngModel)]="colorations" (ngModelChange)="selectPalette($event)">
                <option *ngFor="let module of modules" [value]="module._id">{{module.moduleName}}</option>
              </select>
              <button title="Restore" (click)="restore()">
                <i class="fa fa-undo" aria-hidden="true"></i>
              </button>
            </div>
          </div>
        </div>

    </div>

</div>

