::ng-deep body {
  margin: 0;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
  font-family: "Helvetica neue",Helvetica,Verdana,Nimbus Sans,sans-serif;
}

::ng-deep .fa {
  color: #00709b;
  width: 10px;
}
