<app-nav></app-nav>
  <div id="search">
    <div class="uniprot">
      <h3 class="title"><img class="iconSearch" src="https://svgsilh.com/svg/1093184-00709b.svg">UniProt Entry</h3>
      <input placeholder="Search UniProt..." type="text" name="unp" [(ngModel)]="uniprotId">
      <button id="arrow" routerLink="/repKB-UI/{{uniprotId}}" routerLinkActive="active" style="width: 30px;"> <img class="icon" src= "https://svgsilh.com/svg/35251-00709b.svg" width="15px"></button>
    </div>
    <div class="rpUniprot">
      <h3 class="title"><img class="iconSearch" src="https://svgsilh.com/svg/1093184-00709b.svg"> RepeatsDb</h3>
      <br>
      <div  class ="unpList">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search UniProt..."  [(ngModel)]="searchTerm">
        </div>
        <ul>
          <button style="display: block" *ngFor="let unp of uniprotList | unpFilter: searchTerm; index as i" routerLink="/repKB-UI/{{unp}}" routerLinkActive="active">
              {{ unp }}
          </button>
        </ul>
      </div>
    </div>
    <div class="msaList">
      <h3 class="title"><img class="iconSearch" src="https://svgsilh.com/svg/1093184-00709b.svg"> MSA</h3>
      <br>
      <div  class ="unpList">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search UniProt..."  [(ngModel)]="MSAsearchTerm">
        </div>
        <ul>
          <button style="display: block" *ngFor="let unp of MSAlist | unpFilter: MSAsearchTerm; index as i" (click)="clickedUnp(unp)">
            {{ unp }}
          </button>
        </ul>
      </div>
    </div>
  </div>

<div class="msaUniprot_pre">
  <div class="center">
    <div class="titleMsa"> </div>
    <button class="button_pre" routerLink="/repKB-UI/{{uniprotMSA}}" routerLinkActive="active">{{uniprotMSA}}</button>
    <br>
  </div>
  <mb-sqv-lib [inp]="this.input"></mb-sqv-lib>
</div>
