body {
  font-family: "Helvetica neue",Helvetica,Verdana,Nimbus Sans,sans-serif;
}

#search {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.uniprot {
  color: #efefef;
  background-color: rgba(48,102,190,0.7);
  width: 300px;
  padding: 10px;
  margin: 30px;

}
.rpUniprot {
  color: #efefef;
  background-color: rgba(96,175,255,0.7);
  width: 300px;
  padding: 10px;
  margin: 30px;
  overflow-x: hidden;
}

.unpList{
  overflow-y: auto;
  height: 200px;
  overflow-x: hidden;
}

.msaList {
  color: #efefef;
  background-color: rgba(150,52,132,0.7);
  width: 300px;
  padding: 10px;
  margin: 30px;
}

.msaUniprot {
  background-color: rgba(141, 128, 173, 0.4);
  width: 95%;
  padding: 10px;
  margin: 30px;
  overflow-y: auto;
  overflow-x: auto;
}

.center {
  text-align: center;
  margin-bottom: 20px;
}

button {
  background-color: #cfe8ef;
  color: #333333;
  border: none;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 2px;
  width: 150px;
}

button:hover {
  background-color: #a5d5e3;
}
input {
  padding: 2px 5px;
  width: 140px;
  margin-left: 40px;
}
::-webkit-scrollbar {
  width: 12px;
}

.iconSearch {
  width: 15px;
  margin-right: 5px;
  margin-left: 40px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,255.5);
}


.msaUniprot_pre {}
.button_pre{
  background-color: white;
  width: 0;
  height: 0;
}

#arrow{
  padding: 3px;
}
